@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandstander:ital,wght@0,300;0,500;1,400;1,900&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    transition: 0.5s;
    z-index: 2000;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid black;
    border-image: linear-gradient(90deg, transparent, var(--primary), transparent)30;
    backdrop-filter: blur(20px);
    padding: 10px 100px;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-family: 'Grandstander', cursive;
    font-size: 45px; /* Increased font size */
    color: white;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2000;
}

.nav {
    display: flex;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

/* Media query for small screens */
.search-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
}

.search-icon ion-icon {
    margin-right: 8px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .searchs{
    display: block;
  }
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333;
    }
    ion-icon {
      color: white;
      font-size: 2rem; /* Adjust the font size to your desired XL size */
    }

    .nav.show-menu {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px
    }

    .menu-icon {
        display: block;
    }

    .search-icon {
        margin-top: 8px;
    }
}
